<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60643343472-udk113ldqip8ud1mi7i6kehh3teatv17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60643343472-udk113ldqip8ud1mi7i6kehh3teatv17</string>
	<key>API_KEY</key>
	<string>AIzaSyByHC2oXqkRAB5TjATnYrs3HQ1ey-uHh3o</string>
	<key>GCM_SENDER_ID</key>
	<string>60643343472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>luizmellodev.UIList</string>
	<key>PROJECT_ID</key>
	<string>ui-list-924fe</string>
	<key>STORAGE_BUCKET</key>
	<string>ui-list-924fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60643343472:ios:2320b87e20ebbcd2f008b5</string>
</dict>
</plist>